sudo: required

language: go

services:
  - docker

addons:
  postgresql: "9.4"

go:
  - 1.5.4
  - 1.6.2

env:
  - GO15VENDOREXPERIMENT=1

install:
  - make setup

script:
  - make build
  - make test
  - PGHOST=127.0.0.1 ./script/test_all.sh