sudo: required

language: go

services:
  - docker

addons:
  postgresql: "9.6"

go:
  - 1.7.6
  - 1.8.3
  - 1.9

env:
  - GO15VENDOREXPERIMENT=1

before_install:
  - ./script/check_assets.sh

install:
  - make setup

script:
  - make build
  - make test
  - make test-all
  - make docker-release