sudo: required
dist: trusty
group: deprecated-2017Q4

language: go

services:
  - docker

addons:
  postgresql: "9.6"

go:
  - 1.10.x
  - 1.11.x

before_install:
  - ./script/check_merge_markers.sh
  - ./script/check_formatting.sh
  - ./script/check_assets.sh

install:
  - make setup

script:
  - make build
  - make test
  - make test-all
  - make docker-release
