# fly.toml file generated for pgweb-demo on 2022-11-14T11:19:39-06:00

app = "pgweb-demo"
kill_signal = "SIGINT"
kill_timeout = 5

[env]
  SESSIONS = "1"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[processes]
  web = "pgweb --bind=0.0.0.0"

[[services]]
  http_checks = []
  internal_port = 8081
  processes = ["web"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
