#main {
  display: none;
}

#nav {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 50px;
  background: #79589f;
}

#nav ul {
  margin: 0px;
  padding: 0px;
  height: 50px;
  display: block;
}

#nav ul li {
  margin: 0px;
  padding: 0px;
  float: left;
  height: 49px;
  line-height: 49px;
  font-size: 13px;
  padding: 0px 14px;
  color: #d6cce2;
  font-weight: 500;
  margin: 0 1px;
  cursor: pointer;
  display: block;
  list-style: none;
  list-style-type: none;
}

#nav ul li:first-child {
  margin-left: 0px;
}

#nav ul li:hover {
  color: #fff;
}

#nav ul li.selected {
  position: relative;
  background: #fff;
  color: #000;
  margin: 0;
}

#nav ul li.selected:before {
  content: ' ';
  position: absolute;
  bottom: -1px;
  left: 0; right: 0;
  height: 1px;
  widows: 100%;
  background: #fff;
}

#nav ul li.selected:first-child {
  border-left: none;
}

#sidebar {
  position: fixed;
  width: 250px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
  background: #f9f9f9;
}

#sidebar .current-database {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background: #79589f;
  z-index: 900;
}

#sidebar .current-database .wrap {
  position: relative;
  height: 50px;
}

#sidebar .current-database span.current-database-name {
  margin-left: 30px;
  display: inline-block;
  width: 200px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#sidebar .current-database i.fa-database {
  position: absolute;
  left: 8px;
  top: 18px;
}

#sidebar .current-database input.typeahead {
  margin-left: 30px;
  display: inline-block;
  width: 200px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar .current-database input.typeahead {
  display: none;
  background: #79589f;
  width: 200px;
  height: 22px;
  color: #fff;
  font-weight: normal;
  outline: none;
  border: 0px none;
}

#sidebar .current-database span.refresh {
  position: absolute;
  top: 0px;
  right: 6px;
  cursor: pointer;
  color: #fff;
  display: none;
}

#sidebar .current-database:hover span.refresh {
  display: inline-block;
}

#sidebar .current-database input.typeahead::-webkit-input-placeholder {
  color: #fff;
}

#sidebar ul.typeahead {
  position: absolute;
  margin-left: 30px;
  overflow-y: auto;
  max-height: 300px;
  z-index: 999;
}

#sidebar ul.typeahead a {
  font-size: 13px;
  padding: 3px 10px;
}

#sidebar .objects-search {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 250px;
  height: 30px;
  overflow: hidden;
}

#sidebar .objects-search .wrap {
  position: relative;
  background: transparent;
  height: 30px;
  padding: 4px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

#sidebar .objects-search i.fa-search {
  position: absolute;
  left: 8px;
  top: 7px;
  color: #a1a1a1;
}

#sidebar .objects-search i.fa-times-circle {
  position: absolute;
  right: 8px;
  top: 7px;
  color: #a1a1a1;
  display: none;
  cursor: pointer;
}

#sidebar .objects-search i.fa-times-circle:hover {
  color: #888;
}

#sidebar .objects-search input[type="text"] {
  background: transparent;
  border: 0px none;
  font-size: 12px;
  color: #000;
  height: 22px;
  line-height: 22px;
  padding: 0px;
  margin-left: 25px;
  width: 200px;
  outline: none;
}

#sidebar div.tables-list {
  position: fixed;
  width: 250px;
  top: 80px;
  left: 0px;
  bottom: 130px;
  overflow: auto;
}

#sidebar div.tables-list .wrap {
  height: 100%;
  overflow: auto;
}


#sidebar div.tables-list #tables, #sequences, #objects {
  font-size: 12px;
}

#sidebar div.table-information {
  position: fixed;
  width: 250px;
  left: 0px;
  height: 130px;
  bottom: 0px;
  box-sizing: border-box;
  cursor: default;
}

#sidebar div.table-information .wrap {
  height: 100%;
  overflow-y: auto;
}

#sidebar div.table-information .title {
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
  line-height: 30px;
  padding: 0px 8px;
  border-top: 1px solid #eee;
}

#sidebar div.table-information .lines {
  display: none;
}

#sidebar div.table-information .lines .line {
  line-height: 24px;
  height: 24px;
  padding: 0 8px 0 8px;
  font-size: 12px;
  color: #7F7E7F !important;
}

#sidebar div.table-information .lines .line span {
  color: #4F4F4F;
  min-width: 0;
  padding-left: 0px;
}

#body {
  position: fixed;
  top: 50px;
  left: 250px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
}

#input {
  height: 255px;
  overflow: hidden;
}

#input .wrapper {
  position: relative;
}

#input .actions {
  background: #fff;
  padding: 10px;
  height: 50px;
  border-bottom: solid 1px #ddd;
}

#input .actions #result-rows-count {
  font-size: 12px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 10px;
  color: #999;
}

#input .actions .btn {
  line-height: 30px;
  height: 30px;
  padding: 0px 13px;
  margin: 0px;
  font-size: 13px;
  color: #555;
  border: none;
  box-shadow: none;
  background: transparent;
  border: 1px solid #999;
  float: left;
  margin-right: 10px;
}

#input .actions .btn-primary {
  border-color: #7eb54e;
  color: #7eb54e;
}

#input .actions .btn:hover {
  background: transparent !important;
  border-color: #444;
  color: #000;
}

#input .actions .btn-primary:hover {
  color: #64903e;
  border-color: #64903e;
}

#input .actions #query_progress {
  display: none;
  float: left;
  line-height: 30px;
  height: 30px;
  color: #aaa;
}

#input .actions .btn:focus {
  outline: 0 none;
  box-shadow: 0;
}

#input .actions .btn:hover {
  background: #7eb154;
}

#input .actions .btn-default:hover {
  background: #bbb;
}

#input .actions .btn:last-child {
  margin-right: 0px;
}

#objects {
}

#output {
  position: absolute;
  left: 0px;
  top: 256px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

#pagination {
  display: none;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 10px;
  top: 0px;
  left: 0px;
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 3px 0px #f1f1f1;
}

#pagination .pager-container {
  float: right;
}

#pagination .filters {
  float: left;
  font-size: 12px;
}

#pagination .filters span {
  display: inline-block;
  float: left;
  font-weight: bold;
  line-height: 32px;
  height: 32px;
  margin: 0px 8px;
  color: #999;
}

#pagination .filters select {
  font-size: 12px;
  width: 100px;
  float: left;
  line-height: 30px;
  height: 30px;
  margin-right: 8px;
  outline: none;
}

#pagination .filters select.column {
  width: 150px;
}

#pagination .filters select.filter {
  width: 100px;
}

#pagination .filters input {
  float: left;
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  font-size: 12px;
}

#pagination .filters .btn-primary {
  border-color: #7eb54e;
  color: #7eb54e;
  background: #fff;
  outline: none;
  float: left;
  margin-right: 8px;
}

#pagination .filters .btn-default {
  float: left;
  outline: none;
}

#pagination .btn-group {
  float: right;
}

#pagination .current-page {
  float: right;
  font-size: 12px;
  margin-right: 12px;
  color: #999;
  line-height: 32px;
  height: 32px;
}

#results {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

#results.empty td {
  border: 0px none;
}

#results tr:nth-child(even) > td {
  border: none;
  background: #ffffff;
}

#results tr:nth-child(odd) > td {
  border: none;
  background: #f9f9f9;
}

#results th {
  border-top: none;
  border-bottom: 1px solid #eae9e9;
  padding: 3px 9px;
  line-height: 24px;
  color: #333;
  font-weight: bold;
  cursor: pointer;

  -webkit-font-smoothing: antialiased;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#results th:hover {
  background: #f8f8f8;
}

#results th.active {
  background: #f3faff;
}

#results[data-mode="browse"] th:hover {
  cursor: pointer;
  background: #fafafa;
}

#results tbody tr:hover td {
  background: #ffe;
}

#results tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

#results tr.selected td {
  background: #3874d7 !important;
  color: #fff !important;
}

#results td {
  color: #3a3633;
  vertical-align: middle;
  border: 0px none;
}

#results td div {
  max-width: 350px;
  max-height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;

  /*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  */
}

#results td div span.null {
  color: #bbb;
  text-transform: uppercase;
}

#results td textarea {
  color: #000 !important;
  font-size: 12px;
}

#results th:first-child,
#results td:first-child {
  padding-left: 15px;
}

#results.no-crop td div {
  max-width: none;
}

.full #output {
  top: 0px !important;
}

.with-pagination #output {
  top: 50px !important;
}

.with-pagination #pagination {
  display: block;
}

/* -------------------------------------------------------------------------- */

#custom_query {
  height: 193px;
  margin-top: 12px;
}

#connection_window {
  z-index: 3;
  position: fixed;
  background: #fff;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: none;
}

.connection-actions {
  position: fixed;
  right: 8px;
  top: 10px;
  display: none;
}

#edit_connection, #close_connection {
  background: #79589f;
  color: #fff;
  border-color: #fff;
}

#edit_connection i {
  margin-right: 4px;
}

#close_connection_window {
  display: none;
}

#connection_error {
  display: none;
}

.bookmarks {
  display: none;
}

.connection-settings {
  width: 600px;
  margin: 0px auto;
  margin-top: 50px;
}

.connection-settings .header {
  margin-bottom: 25px;
}

.connection-settings .header h1 {
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
  color: #999;
  font-weight: normal;
}

.connection-settings .header .version {
  font-size: 12px;
  color: #aaa;
  text-align: center;
  display: block;
}

.connection-settings .header .update {
  font-size: 12px;
  text-align: center;
  padding: 4px;
  margin: 12px 0px;
  display: none;
}

.connection-settings form {
  background: #f6f6f6;
  padding: 25px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.connection-settings form p.help-block {
  font-size: 12px;
}

.connection-settings form .no-left-padding {
  padding-left: 0;
}

.connection-scheme-group {
  display: none;
}

.connection-ssh-group {
  display: none;
  z-index: 1000;
}

/* -------------------------------------------------------------------------- */
/* Sidebar Schema Objects */
/* -------------------------------------------------------------------------- */

.schema {}
.schema i                           { display: inline-block; margin-right: 4px; }
.schema i.fa-folder-o               { display: inline-block; }
.schema i.fa-folder-open-o          { display: none; }
.schema.expanded i.fa-folder-open-o { display: inline-block; }
.schema.expanded i.fa-folder-o      { display: none; }

.schema .schema-name {
  font-weight: bold;
  font-size: 13px;
  display: block;
  line-height: 30px;
  height: 30px;
  padding: 0px 8px;
  cursor: pointer;
}

.schema .schema-container {
  display: none;
}

.schema.expanded .schema-container {
  display: block;
}

.schema .schema-container .schema-group .fa-chevron-down {
  display: none;
}

.schema .schema-container .schema-group .schema-group-title {
  display: block;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  padding: 0px 8px;
  overflow: hidden;
}

.schema .schema-container .schema-group .schema-group-count {
  color: #999;
  display: inline-block;
  float: right;
  margin-right: 8px;
}

.schema .schema-container .schema-group ul {
  padding: 0px;
  margin: 0px;
  display: none;
}

.schema .schema-container .schema-group ul li {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0px 8px;
  padding-left: 16px;
  white-space: nowrap;
  overflow: x-scroll;
}

.schema .schema-container .schema-group ul li i {
  color: #999;
}

.schema .schema-container .schema-group ul li.active {
  background: #f1f1f1;
  color: #333;
  font-weight: bold;
}

.schema .schema-container .schema-group ul li:hover {
  background: #f1f1f1;
}

.schema .schema-container .schema-group.expanded .fa-chevron-down {
  display: inline-block;
}

.schema .schema-container .schema-group.expanded .fa-chevron-right {
  display: none;
}

.schema .schema-container .schema-group.expanded ul {
  display: block;
}

/* -------------------------------------------------------------------------- */
/* Ace Customizations */
/* -------------------------------------------------------------------------- */

.ace_gutter, .ace_gutter-cell {
  background: #fff !important;
  color: #bbb;
  font-size: 12px;
}

.ace_active-line {
  background: none !important;
}