/* input */

::-webkit-input-placeholder { 
  color: rgba(255,255,255,0.5);
  font-weight: 700;
}
::-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
  font-weight: 700;
}
::-moz-placeholder {
  color: rgba(255,255,255,0.5);
  font-weight: 700;
}
:-moz-placeholder { 
  color: rgba(255,255,255,0.5);
  font-weight: 700;
}
